<h2 id='title'>Material Design Icons</h2>


{{material-design-icon name='chat'}}
{{material-design-icon name='devices' size='lg'}}
{{material-design-icon name='attach-file' size='5x' iconClass="lol"}}

{{outlet}}
