<h2 id='title'>Material Design Icons</h2>

<i class="md md-subtitles"></i> md-subtitles
<i class="md md-surround-sound"></i> md-surround-sound
<i class="md md-videocam"></i> md-videocam
<i class="md md-videocam-off"></i> md-videocam-off
<i class="md md-video-collection"></i> md-video-collection
<i class="md md-volume-down"></i> md-volume-down
<i class="md md-volume-mute"></i> md-volume-mute
<i class="md md-volume-off"></i> md-volume-off
<i class="md md-volume-up"></i> md-volume-up
<i class="md md-web"></i> md-web

{{outlet}}
